/* Custom color theme properties */
:root {
  --f7-theme-color: #fb5851;
  --f7-theme-color-rgb: 251, 88, 81;
  --f7-theme-color-shade: #fa3229;
  --f7-theme-color-tint: #fc7e79;

  --f7-table-head-cell-height: auto;

  --f7-table-head-font-size: 12px;
  --f7-table-body-font-size: 12px;
  --f7-table-body-cell-height: 18px;
  --f7-table-cell-padding-horizontal: 0px;

  --f7-card-margin-horizontal: 0px; // Card Margin horizontal ***
  --f7-card-border-radius: 10px;
  --f7-card-bg-color: transparent;
  --f7-card-header-background-color: rgba(0, 255, 157, 0.1);

  --f7-table-footer-font-size: 12px;
  --f7-table-input-height: 24px;
  --f7-table-input-font-size: 14px;
  --f7-table-collapsible-cell-padding: 16px;
  --f7-table-link-icon-only-icon-size: 20px;
  --f7-table-head-bg-color: transparent;
  --f7-table-card-header-bg-color: transparent;
  --f7-table-card-header-height: 64px;
  --f7-table-cell-padding-vertical: 0px;
  --f7-table-sortable-icon-color: #000;
}
.grid-demo div[class*='col'] {
  // background: #fff;  
  position: relative; // I may need to make this absolute/fixed to keep buttons in same spot, then adjust position for each element.
  text-align: center;
  color: #000;
  // border: 1px solid #ddd;
  
  padding: 5px;
  font-size: 10px;
  margin-bottom: 15px;
}
.grid-resizable-demo {
  --f7-grid-row-gap: 0px;
}
.grid-resizable-demo div[class*='col'] {
  margin-bottom: 0;
}
.grid-resizable-demo .demo-col-center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
}
// .ios {
//   --f7-font-family: Times New;
//   --f7-line-height: 1.4;
//   --f7-text-color: #000;
//   --f7-bars-border-color: rgba(0, 0, 0, 0.25);
// }
body {
  // background-image: url(../assets/rotomBackg.jpg);
}
.page {
  background: rgb(220, 220, 220);
  // background-image: url(../assets/dexBG.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  // background-position: 100%;
}

.center {
 display:flex;
 justify-content: center;
 align-content:center;
//  justify-self: center;
 align-self: center;
 text-justify: center;
 text-align: center;
} 
.typeNameMargin{
  margin-top: 48%;
}

#defCard{
  width:96%;
  min-height: 130px;
  max-height: 130px;
}
#atkCard{
  width: 96%;
}
#defRowMargin{
  margin-top: -6%;
}
#supEffCard{
  // max-height: 30%;
  // min-height: 30%;
  margin-top: -10%;
}

.rowHeight{
  min-height: 63px;
  max-height: 63px;
}
.typeBtnStyle{
  width: 15%;
  border: none;
  background: none;
  margin: 3px 10px 2px 2px;
}
#superEffRow{
  // width: 100%;
  margin-top: 10%;
}
#buttonRow{
  // justify-content: flex-end;
  // align-content: flex-end;
  position:absolute;
  bottom: -130px;
  max-width: 85%;
  margin-top: -2%;
 
}
#btnTopMargin{
  margin-top:-9%
}

.popupBtn {
  margin:2%;
 
}