/* Custom color theme properties */
:root {
  --f7-theme-color: #fb5851;
  --f7-theme-color-rgb: 251, 88, 81;
  --f7-theme-color-shade: #fa3229;
  --f7-theme-color-tint: #fc7e79;

  --f7-table-head-cell-height: auto;

  --f7-table-head-font-size: 12px;
  --f7-table-body-font-size: 12px;
  --f7-table-body-cell-height: 18px;
  --f7-table-cell-padding-horizontal: 0px;
  --f7-card-margin-horizontal: 16px;
  --f7-card-border-radius: 10px;
  --f7-card-bg-color: transparent;
  --f7-card-header-background-color: rgba(0, 255, 157, 0.1);
  --f7-table-footer-font-size: 12px;
  --f7-table-input-height: 24px;
  --f7-table-input-font-size: 14px;
  --f7-table-collapsible-cell-padding: 16px;
  --f7-table-link-icon-only-icon-size: 20px;
  --f7-table-head-bg-color: transparent;
  --f7-table-card-header-bg-color: transparent;
  --f7-table-card-header-height: 64px;
  --f7-table-cell-padding-vertical: 0px;
  --f7-table-sortable-icon-color: #000;
}
.grid-demo div[class*='col'] {
  // background: #fff;  
  position: fixed; // I may need to make this absolute/fixed to keep buttons in same spot, then adjust position for each element.
  text-align: center;
  color: #000;
  // border: 1px solid #ddd;
  
  padding: 5px;
  font-size: 12px;
  margin-bottom: 15px;
}
.grid-resizable-demo {
  --f7-grid-row-gap: 0px;
}
.grid-resizable-demo div[class*='col'] {
  margin-bottom: 0;
}
.grid-resizable-demo .demo-col-center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
}
// .ios {
//   --f7-font-family: Times New;
//   --f7-line-height: 1.4;
//   --f7-text-color: #000;
//   --f7-bars-border-color: rgba(0, 0, 0, 0.25);
// }
body {
  background-image: url(../assets/rotomBackg.jpg);
}
.page {
  background: rgb(220, 220, 220);
  background-image: url(../assets/rotomBackg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  // background-position: 100%;
}
#superContainer {
  // max-height: 80%;
}
.card {
  // max-width: 100%;
  // min-width: 100%;
}
// img {
//   max-width: 90%;
// }
// .typeWidth {
//   width: 50%;
// }
#btnBlock {
}

.type1Name {
  // font-size: 200px;
}
.title {
  display: flex;
  float: right;
  margin-right: 20%;
  color: gray;
}
#renderCard {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // justify-self: center;
  // align-self: center;
  // margin-left: 15%;
  // max-height: 50%;
  // max-width: 100%;
  // min-width: 100%;
}
#btnCard {
  // margin-left: 10%;

  // min-height: 40%;
  // max-width: 60%;
  // min-width: 75%;
}
#resetButton {
  justify-content: center;
}
// #type1Card {
//   max-width: 95%;
//   min-width: 95%;
// }
// #type2Card {
//   max-width: 95%;
//   min-width: 95%;
// }
/* Your app custom styles here */
#typeRow {
  display: flex;
  justify-content: center;
  margin-top: 38%;
  min-width: 100%;
  max-height: 80%;
  min-height: 80%;
}
.numeric-cell {
  // display: inline-flex;
  // width: 10%;
}
#type1Card {
  // max-width: 80%;
  // min-width: 100%;
}
.typeCards {
  // width: 100%; // margin-left: 24px;
}

.superEff {
  // background: #fc7e79;
}
